# Ignore everything inside the specified folders
.vscode/
.streamlit/
env/
envLinux/

# Ignore specific files
.env
.gitignore
.gitattributes

# Allow these specific files to be tracked
LICENSE
README
README.md
app.py
requirements.txt
setup_mindsdb.py
